[mysqld]
server-id=100
gtid_mode=ON
enforce_gtid_consistency=ON
log-bin=mysql-bin
binlog_format=ROW
log_slave_updates=ON
read_only=OFF
super_read_only=OFF
report-host=mysql-primary

# Performance
max_connections=200
innodb_buffer_pool_size=256M
