[mysqld]
server-id=201
gtid_mode=ON
enforce_gtid_consistency=ON
log-bin=mysql-bin
binlog_format=ROW
log_slave_updates=ON
read_only=ON
super_read_only=ON
report-host=mysql-replica-1

# Performance
max_connections=200
innodb_buffer_pool_size=256M
